[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = nightscout web monitor
[access "refs/*"]
	owner = group user/ridvansg
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ridvansg
	label-Verified = -1..+1 group user/ridvansg
	push = group user/ridvansg
	read = group user/ridvansg
	rebase = group user/ridvansg
	removeReviewer = group user/ridvansg
	submit = group user/ridvansg
[access "refs/heads/*"]
	create = group user/ridvansg
	push = +force group user/ridvansg
	pushMerge = group user/ridvansg
	read = group user/ridvansg
[access "refs/tags/*"]
	push = group user/ridvansg
	push = +force group user/ridvansg
